ASR_SERVICE_ENABLED=false
ASR_SERVICE_TOKEN=
ASR_SERVICE_HOST=127.0.0.1
ASR_SERVICE_PORT=8200
ASR_SERVICE_SPOOL_ROOT=.asr-spool
ASR_MAX_INPUT_BYTES=2147483648
ASR_MAX_QUEUE_LENGTH=8
ASR_CHUNK_DURATION_MS=300000
ASR_CONSECUTIVE_FAILURE_LIMIT=3
BGE_PRIORITY_PROBE_URL=
BGE_PRIORITY_PROBE_TOKEN=
